* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #696969;
}

header {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

header h1 {
  padding: 20px 20px;
  
}

main {
  background-color: #ffffe0;


}


.introduction {
  width: 840px;
  margin: 0px auto;
  padding: 50px 0;
}

.contents {
  border-bottom: 1px solid #696969;
  padding: 0 0 30px 0px;
  margin: 0 0 30px 0;
}

.text {
  padding-top: 10px;
  font-size: 15px;
}







