* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

header {
  width: 100%;
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;

  

}

.contents {
  width: 300px;
  padding: 10px 10px;
  background-color: #eeeeee;
  position: relative;
}

.contents:nth-child(2) {
  margin: 0 30px;
}

.image {
  background-position: bottom;
  background-size: cover;
  width: 280px;
  height: 150px;

}

.flow1 {
  background-image: url(img/flow01.png);

}

.flow2 {
  background-image: url(img/flow02.png);
}

.flow3 {
  background-image: url(img/flow03.png);
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #ff9a4b;
}

section {
  
}

h3.title {
  padding: 15px 0 5px 0;


}




footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}