* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 10%;
  padding: 20px;
  margin: 0 auto;
  
}

.nav-list {
  border: solid black;
  border-width: 2px 0;
  
  text-align: center;
}

.list-item {
  display: inline-block;
  padding: 15px 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  
}

.contents {
  width: 200px;
  height: 200px;
}

.sample1 {
  background-color: #e6ffe9;
}

.sample2 {
  background-color:#cbffd3;
}

.sample3 {
  background-color: #aeffbd;
}

.sample4 {
  background-color: #93ffab;
}

.sample5 {
  background-color: #f3ffd8;
}

.sample6 {
  background-color: #edffbe;
}

.sample7 {
  background-color: #e9ffa5;
}

.sample8 {
  background-color: #e4ff8d;
}

.sample9 {
  background-color: #d9e5ff;
}

.sample10 {
  background-color: #bad3ff;
}

.sample11 {
  background-color: #a4c6ff;
}

.sample12 {
  background-color: #8eb8ff;
}

footer {
  
  height: 120px;
  line-height: 120px;
  background-color: gray;
  color: white;
  text-align: center;
  
}
